body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font: Montserrat-Black;
  font-weight: bolder;
}
h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

/* combined selectors */

.coloured-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

#title .container-fluid {
  padding: 3% 5% 7%;
  text-align: left;
}

/* navbar */

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}


.nav-link {
  font-size: 1.2rem;
  font-weight: light;
}

/* landing page */

.top-head {
  font: Montserrat-Black;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bolder;
  padding-bottom: 2rem;
}

.download-button {
  padding: 5% 3% 5% 0;
}

.fa-apple {
  padding-right: 0.6rem;
}

.fa-google-play {
  padding-right: 0.6rem;
}

.dog {
  width: 60%;
  padding-bottom: 0px;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* features section */

#features {
  padding: 7% 17%;
  background-color: white;
  position: relative;
}

.feature-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.define {
  font-size: 1rem;
  color: #afafaf;
}

.feature-box {
  padding: 5%;
}

/* testimonial section */

#testimonials {
  background-color: #ef8172;
}

#press {
  background-color: #ef8172;
  padding-bottom: 4%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section  */

#pricing {
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* footer */

.copyr {
  color: #afafaf;
  font-size: 1rem;
}

.social-icon {
  margin: 20px 10px;
}

/* mobile view */

@media (max-width:988px) {
  #title {
    text-align: center;
  }

  .dog {
    position: static;
    padding-top: 5%;
    transform: rotate(0);
  }
}
